footer#footer.footer
  .wrap
    if site.block
      p
        | Aktualisiert um
        = " "
        a(href=`https://www.blockstream.info/block-height/${site.block}`)
          time(datetime=site.date)= site.block
        |.
    p.social
      a(href=site.meta.twitterUrl rel="me nofollow noopener" target="_blank" title="Twitter")
        +sprite("twitter")
      a(href=site.meta.telegramUrl rel="me nofollow noopener" target="_blank" title="Telegram")
        +sprite("telegram")
      a(href=site.meta.youtubeUrl rel="me nofollow noopener" target="_blank" title="YouTube")
        +sprite("youtube")
      a(href=site.meta.instagramUrl rel="me nofollow noopener" target="_blank" title="Instagram")
        +sprite("instagram")
      a(href=`https://snort.social/p/${site.meta.nostr}` rel="me nofollow noopener" target="_blank" title="Nostr")
        +sprite("nostr")
      a(href=site.meta.soundcloudUrl rel="me nofollow noopener" target="_blank" title="Soundcloud")
        +sprite("soundcloud")
    p
      a(href="/kontakt/") Kontakt
      = " · "
      a(href="/datenschutz/") Datenschutz
      = " · "
      | Made with 💛 by
      = " "
      a(href="https://d11n.net" target="_blank" rel="nofollow noopener") d11n
      |.
