extends /template.pug

block vars
  - const title = site.meta.title
  - const description = site.meta.description

block main
  - const ticker = shuffle(site.meta.ticker).join(" +++ ") + " +++ "
  - const duration = ticker.length / 4
  .ticker
    span(style=`animation-duration:${duration}s`)= ticker
    span(style=`animation-duration:${duration}s`)= ticker

  .wrap
    section
      h1= title
      h2= description

      :markdown-it(html linkify typographer)
        [Bitcoin](https://bitcoin.org/bitcoin.pdf), und sonst nichts.
        Einmal die Woche sitzen die Jungs zusammen und besprechen die aktuellen Geschehnisse in Bitcoin und der Welt.

        Wir bringen dir die [News](/podcast/news/) der Woche, sowie zusätzlich [Interviews](/podcast/interviews/) und
        die besten Artikel als [Lesestunde](/podcast/lesestunde/).
        Außerdem erfährst du in [Der Weg](/podcast/der-weg/) wie andere Leute zu Bitcoin gekommen sind.
      +subscribe()

    section
      h2 Aktuelle Episode
      .current
        +episodePlayer(currentEpisode)

    section#telegram
      :markdown-it(html linkify typographer)
        ## 💬 Komm in die Gruppe!

        Mit unserer Telegram-Gruppe bieten wir dir ein Shitcoin-freies Refugium: Mit über 2.000 Gleichgesinnten
        sprechen wir dort nicht über den Preis, Altcoins oder sonstige unwichtigen Dinge. In unserer Gruppe
        findest du News, Informationen und bekommst praktische Ratschläge zu technischen Themen.

      a.button(href=site.meta.telegramUrl target="_blank" rel="nofollow noopener") Ab in die Gruppe

    //- section#shop
    //-   :markdown-it(html linkify typographer)
    //-     ## 🛍 Unser bitcoin-only Shop

    //-     In unserem Shop findest du Einundzwanzig-Kleidung, sowie weitere Merchandise-Artikel zum Podcast.
    //-     Toximalistischer Swag für bullishe Bitcoiner.

    //-   .shopTeaser
    //-     a(href=`${site.meta.shopUrl}p/tasse/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/tasse.jpg"))
    //-     a(href=`${site.meta.shopUrl}p/hoodie-schwarz/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/hoodie-schwarz.jpg"))
    //-     a(href=`${site.meta.shopUrl}p/hoodie-weiss/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/hoodie-weiss.jpg"))
    //-     a(href=`${site.meta.shopUrl}p/cap/` target="_blank" rel="nofollow noopener"): img(src=assetPath("/img/shop/cap.jpg"))

    //-   a.button(href=site.meta.shopUrl target="_blank" rel="nofollow noopener") Zum Shop

    section#pocket
      :markdown-it(html linkify typographer)
        ## 💰 Sats in der Tasche

        Mit Pocket Bitcoin kannst du Satoshis stapeln und diese direkt in deiner eigenen Wallet empfangen.
        Das Einrichten regelmäßiger Käufe ist sehr leicht und schnell gemacht, ideal für deinen Bitcoin-Sparplan.
        Und wenn du spontan den Dip kaufen möchtest, dann geht natürlich auch das.

      a.button(href="https://pocketbitcoin.com/einundzwanzig/" target="_blank" rel="nofollow noopener") Mehr zu Pocket Bitcoin

    section#bitbox
      :markdown-it(html linkify typographer)
        ## 🔐 Auf der sicheren Seite

        Unser Sponsor BitBox hat mit der BitBox02 Bitcoin-only Edition eine Hardware Wallet geschaffen,
        die Sicherheit gut nutzbar macht: Ob Einsteiger oder fortgeschritten, hier findest du die Features,
        mit denen du deine Sats sicher verwahren kannst. Unsere Empfehlung, auch schon vor dem Sponsoring.

      a.button(href="https://bitbox.swiss/einundzwanzig/" target="_blank" rel="nofollow noopener") BitBox02 Bitcoin-only Edition

    section#shoutout
      :markdown-it(html linkify typographer)
        ## 🗣 Sei laut, shout out!

        Wenn du möchtest, dass wir im Podcast deinen "Shout-Out" vorlesen, dann bist du mit 21.000 Sats dabei!
        Wir sammeln alle Einnahmen bis die 1.000.000 Sats voll sind. Dann lassen wir in unserer Telegram-Gruppe
        darüber abstimmen welches Bitcoin-Projekt aus Deutschland diese kostbaren Sats bekommen soll.
        Wenn du also einen Shout-Out in unserem Podcast kaufst, [unterstützt](/spenden/) du damit auch ein Bitcoin Projekt.

      a.button(href=site.meta.shoutoutUrl target="_blank" rel="nofollow noopener") Shout-Out senden

    section#youtube
      :markdown-it(html linkify typographer)
        ## 📺 Community-Tutorials

        Mit Hilfe der Community veröffentlichen wir praktische Bitcoin-Anleitungen:
        Den eigenen Node betreiben und Apps aufsetzen, Wallets verbinden und so weiter.
        Du hast auch eine Idee für ein Tutorial? Immer her damit – wir helfen dir, dass es möglichst viele Leute sehen.

      a.button(href=site.meta.youtubeUrl target="_blank" rel="nofollow noopener") Unser YouTube-Kanal

    section#lightning
      :markdown-it(html linkify typographer)
        ## ⚡️ Unser Lightning Node

        Du kannst einen Kanal zu unserem Lightning Node aufmachen – entweder um im Shop ohne Routinggebühren zu
        zahlen oder um dich darüber mit anderen Mitgliedern der Community zu verbinden. Der Node ist bereits gut
        vernetzt und du erhältst durch einen Kanal gute Verbindungen zu weiteren gut vernetzten Nodes.

      .lnNodes
        .lnNode
          h3 Clearnet
          a(href="https://pay.einundzwanzig.space/embed/8bxL8xLosHAQDCGbPoi1Hc51noEAbRj2GRsvnKjoKzZQ/BTC/ln" target="_blank" rel="nofollow noopener")
            img(src=assetPath("/img/ln/clearnet.svg") alt="Clearnet")
          button.button(type="button" data-clipboard="03a09f56bba3d2c200cc55eda2f1f069564a97c1fb74345e1560e2868a8ab3d7d0@62.171.139.240:9735") Clearnet ID kopieren

        .lnNode
          h3 Tor
          a(href="http://abluswbmzrazryivhn7hocw3dglfv4m3b2qrfmuommbyxayd2jawdsad.onion/embed/8bxL8xLosHAQDCGbPoi1Hc51noEAbRj2GRsvnKjoKzZQ/BTC/ln" target="_blank" rel="nofollow noopener")
            img(src=assetPath("/img/ln/tor.svg") alt="Tor")
          button.button(type="button" data-clipboard="03a09f56bba3d2c200cc55eda2f1f069564a97c1fb74345e1560e2868a8ab3d7d0@6quf5upomo5tbrefwtpbt5ahujhgffidaohyiog4gnpr5bst23izzoyd.onion:9735") Tor ID kopieren
