extends /template.pug

block main
  - const ticker = shuffle(site.meta.ticker).join(" +++ ") + " +++ "
  - const duration = ticker.length / 4
  .ticker
    span(style=`animation-duration:${duration}s`)= ticker
    span(style=`animation-duration:${duration}s`)= ticker

  .wrap
    section
      :markdown-it(html linkify typographer)
        # Einundzwanzig, der Bitcoin Podcast

        ## Toximalistisches Infotainment für bullishe Bitcoiner

        [Bitcoin](https://bitcoin.org/bitcoin.pdf), und sonst nichts.
        Einmal die Woche sitzen die Jungs zusammen und besprechen die aktuellen Geschehnisse in Bitcoin und der Welt.

        [Wir](/team/) bringen dir die [News](/podcast/news/) der Woche, sowie zusätzlich [Interviews](/podcast/interviews/) und
        die besten Artikel als [Lesestunde](/podcast/lesestunde/).
        Außerdem erfährst du in [Der Weg](/podcast/der-weg/) wie andere Leute zu Bitcoin gekommen sind.
      +subscribe()

    section
      h2 Aktuelle Episode
      .current
        +episodePlayer(currentEpisode)

    section
      :markdown-it(html linkify typographer)
        ## 💬 Komm in die Gruppe!

        Mit unserer Telegram-Gruppe bieten wir dir ein Shitcoin-freies Refugium: Mit über 600 Gleichgesinnten
        sprechen wir dort nicht über den Preis, Altcoins oder sonstige unwichtigen Dinge. In unserer Gruppe
        findest du News, Informationen und bekommst praktische Ratschläge zu technischen Themen.

      a.button(href=site.meta.telegramUrl target="_blank") Ab in die Gruppe

    section
      :markdown-it(html linkify typographer)
        ## 🛍 Unser bitcoin-only Shop

        In unserem Shop findest du Einundzwanzig-Kleidung, sowie weitere Merchandise-Artikel zum Podcast.
        Toximalistischer Swag für bullishe Bitcoiner.

      .shopTeaser
        a(href=`${site.meta.shopUrl}p/tasse/` target="_blank"): img(src=assetPath("/img/shop/tasse.jpg"))
        a(href=`${site.meta.shopUrl}p/hoodie-schwarz/` target="_blank"): img(src=assetPath("/img/shop/hoodie-schwarz.jpg"))
        a(href=`${site.meta.shopUrl}p/hoodie-weiss/` target="_blank"): img(src=assetPath("/img/shop/hoodie-weiss.jpg"))
        a(href=`${site.meta.shopUrl}p/cap/` target="_blank"): img(src=assetPath("/img/shop/cap.jpg"))

      a.button(href=site.meta.shopUrl target="_blank") Zum Shop

    section
      :markdown-it(html linkify typographer)
        ## 🔐 Auf der sicheren Seite

        Unser Sponsor ShiftCrypto hat mit der BitBox02 bitcoin-only Edition eine Hardware Wallet geschaffen,
        die Sicherheit gut nutzbar macht: Ob Einsteiger oder fortgeschritten, hier findest du die Features,
        mit denen du deine Sats sicher verwahren kannst.  Unsere Empfehlung, auch schon vor dem Sponsoring.

      a.button(href="https://shiftcrypto.ch/einundzwanzig/" target="_blank") BitBox02 bitcoin-only Edition

    section
      :markdown-it(html linkify typographer)
        ## 🗣 Sei laut, shout out!

        Wenn du möchtest, dass wir im Podcast deinen "Shout-Out" vorlesen, dann bist du mit 50.000 Sats dabei!
        Wir sammeln alle Einnahmen bis die 1.000.000 Sats voll sind. Dann lassen wir in unserer Telegram-Gruppe
        darüber abstimmen welches Bitcoin-Projekt aus Deutschland diese kostbaren Sats bekommen soll.
        Wenn du also einen Shout-Out in unserem Podcast kaufst, unterstützt du damit auch ein Bitcoin Projekt.

      a.button(href=site.meta.shoutoutUrl target="_blank") Shout-Out senden

    section
      :markdown-it(html linkify typographer)
        ## ⚡️ Unser Lightning Node

        Du kannst einen Kanal zu unserem Lightning Node aufmachen – entweder um im Shop ohne Routinggebühren zu
        zahlen oder um dich darüber mit anderen Mitgliedern der Community zu verbinden. Der Node ist bereits gut
        vernetzt und du erhältst durch einen Kanal gute Verbindungen zu weiteren gut vernetzten Nodes.

      .lnNodes
        .lnNode
          h3 Clearnet
          img(src=assetPath("/img/ln/clearnet.svg") alt="Clearnet")
          button.button(data-clipboard="020d91678bfa7ee9d5e241b244e8eecf3822e6bcedd2426fe97d8de656622285ea@202.61.245.255:9735") Clearnet ID kopieren

        .lnNode
          h3 Tor
          img(src=assetPath("/img/ln/tor.svg") alt="Tor")
          button.button(data-clipboard="020d91678bfa7ee9d5e241b244e8eecf3822e6bcedd2426fe97d8de656622285ea@csgpmpxltdbpvxdwpbv5yzkpicnzhx2k65plksykib2bbzyhzmer5fid.onion:9735") Tor ID kopieren
