extends /template.pug

block vars
  - const title = 'Bitcoin-Meetups'
  - const description = 'Eine Liste von Bitcoin-Meetups und Einundzwanzig-Treffen im D/A/CH/S/LI/LU-Raum.'
  - const cardImage = '/img/card/meetups.png'

append head
  script(src=assetPath("/vendor/jvectormap/jquery.min.js"))
  script(src=assetPath("/vendor/jvectormap/jquery-jvectormap.js"))
  script(src=assetPath("/vendor/jvectormap/maps/europe_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/de_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/at_mill.js"))
  script(src=assetPath("/vendor/jvectormap/maps/ch_mill.js"))
  link(href=assetPath("/vendor/jvectormap/jquery-jvectormap.css") rel="stylesheet")

block main
  #meetups.wrap
    section
      h1= title
      p= description

      :markdown-it(html linkify typographer)
        Neue Meetups können gerne [im Portal](https://portal.einundzwanzig.space/de/meetup/overview) hinzugefügt werden.

        Telegram: Die Vorlage für das Gruppenbild findest du im [Media Kit](/media).
        Tipp: Mit Bots wie [Shieldy](https://t.me/shieldy_bot) kann man die Spammer draußen halten.

  div(style="margin-bottom: calc(var(--space-xxl) * -1)")
    +meetupMap()
