extends /template.pug

block vars
  - const current = episodes.shift()
  - const title = 'Podcast'
  - const description = 'Wir bringen dir die Bitcoin-News der Woche, sowie zusätzlich Interviews und die besten Artikel als Lesestunde. Außerdem erfährst du in "Der Weg" wie andere Leute zu Bitcoin gekommen sind.'

block main
  #podcast.wrap
    section
      h1= title
      p= description
      ul.categories
        li: a(href="/podcast/news/") News
        li: a(href="/podcast/interviews/") Interviews
        li: a(href="/podcast/lesestunde/") Lesestunde
        li: a(href="/podcast/der-weg/") Der Weg
        li: a(href="/podcast/verschiedenes/") Verschiedenes

      p
        | Du findest uns auf
        = " "
        a(href=site.meta.spotifyUrl) Spotify
        = ", "
        a(href=site.meta.appleUrl) Apple Podcasts
        = ", "
        a(href=site.meta.overcastUrl) Overcast
        = " und "
        a(href=site.meta.anchorUrl) Anchor
        = "."
      +subscribe()

    section
      h2 Aktuelle Episode
      .current
        +episodePlayer(current)

    if episodes.length
      section
        h2 Weitere Episoden
        .episodes
          each e in episodes
            +episodeItem(e)
