extends /template.pug

block vars
  - const current = episodes.shift()
  - const title = site.meta.title
  - const description = 'Wir bringen dir die Bitcoin-News der Woche, sowie zusätzlich Interviews und die besten Artikel als Lesestunde. Außerdem erfährst du in "Der Weg" wie andere Leute zu Bitcoin gekommen sind.'

block main
  #podcast.podcast-home.wrap
    section
      h1= title
      p= description
      +categories()

      p
        | Du findest uns auf allen gängigen Podcast-Plattformen:
        = " "
        a(href=site.meta.spotifyUrl) Spotify
        = ", "
        a(href=site.meta.appleUrl) Apple
        = ", "
        a(href=site.meta.googleUrl) Google
        = ", "
        a(href=site.meta.overcastUrl) Overcast
        = ", "
        a(href=site.meta.anchorUrl) Anchor
        = " und "
        a(href=site.meta.podcastIndexUrl) Podcast Index
        = "."
      +subscribe()

    if current
      section
        h2 Aktuelle Episode
        .current
          +episodePlayer(current)

    if episodes.length
      section
        h2 Weitere Episoden
        .episodes
          each e in episodes
            +episodeItem(e)
